@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');


.stApp {
    background-color: #b2b2be71 !important;
    color: #b2b2be71 !important;
}

* {
    font-family: 'Raleway';
    color: #cbfce7 !important;
}

